*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

/* LOGIN */
.login-page{
  height:100vh;
  background:linear-gradient(135deg,#020024,#090979,#00d4ff);
}

.login-box{
  width:330px;
  background:rgba(0,0,0,0.85);
  padding:25px;
  border-radius:12px;
  text-align:center;
  color:white;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.logo{
  width:80px;
  margin-bottom:10px;
}

.login-box input,
.login-box select{
  width:100%;
  padding:10px;
  margin:8px 0;
  border:none;
  border-radius:6px;
}

.login-box button{
  width:100%;
  padding:10px;
  background:#22c55e;
  border:none;
  font-weight:bold;
  cursor:pointer;
  border-radius:6px;
}

/* DASHBOARD */
.dashboard-page{
  min-height:100vh;
  background:url('img/sekolah.jpg') no-repeat center/cover;
}

.navbar{
  background:rgba(0,0,0,0.7);
  color:white;
  padding:10px 20px;
  display:flex;
  align-items:center;
}

.logo-small{
  width:40px;
  margin-right:10px;
}

.menu{
  margin-left:auto;
}

.menu a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.content-box{
  background:rgba(0,0,0,0.75);
  color:white;
  margin:40px;
  padding:30px;
  border-radius:12px;
}

.admin-panel{
  margin-top:20px;
}

.admin-panel input{
  width:100%;
  padding:10px;
  margin:5px 0;
}

.admin-panel button{
  background:#22c55e;
  border:none;
  padding:10px;
  width:100%;
  font-weight:bold;
  cursor:pointer;
}
